@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply p-4
    }
    button {
        @apply text-white border bg-red-800 border-red-800
        hover:bg-transparent hover:text-black rounded-md
    }
    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .5s ease-in-out;
    }

    .link-underline-black {
        background-image: linear-gradient(transparent, transparent), linear-gradient(#991b1b, #991b1b)
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 0 100%
    }
}